<form action ="/" id = "looking_for_form"/>
<h1>Searching for - <input type="text" id="looking_for" name="looking_for" for="looking_for_form" value="<%= @search_term %>"></h1>

<% if @courses.present? %>

<table border="1">
  <tr>
  	<th>Image</th>
  	<th>Name</th>
  	<th>Description</th>
  </tr>
  <% @courses.each do |course| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td class='icon'><%= link_to(image_tag("#{course["photoUrl"]}?auto=format%2Ccompress&dpr=1&w=100&h=100&fit=fill&bg=FFF&q=25"), "https://www.coursera.org/learn/#{course['slug']}") %></td>
      <td><%= course["name"] %></td>
      <td><%= course["description"] %></td>
    </tr>
  <% end %>
</table>

<% else %>

<p>There were no search results for "<%= @search_term %>"</p>

<% end %>
